<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.Parcial1_PrograIIConnectionString"
            connectionString="Data Source=ASUS_TUF_JEREMY\SQLEXPRESS;Initial Catalog=Parcial1_PrograII;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>